body{margin:0;padding:0;font-family:sans-serif}body{background-color:#1b1b1b}.App{position:relative;height:100%;width:100%;display:block;min-height:600px}.gridWrapper{position:absolute;left:0;right:0;margin:auto;max-width:480px;max-height:600px}.Grid{display:inline-block;min-width:480px;min-height:600px}.Grid,.Grid .row{position:relative}.controls button{margin:5px}.controls--tick{display:block;width:100%}.cell{width:10%;display:inline-block;height:30px}.cell--white{background-color:#2b2b2b}
/*# sourceMappingURL=main.25dd3ad3.css.map*/